
# Recommended packages
importFrom("nlme", VarCorr)

export(lucid)
S3method(lucid, data.frame)
S3method(lucid, default)
S3method(lucid, list)
S3method(lucid, matrix)
S3method(lucid, numeric)

export(vc)
S3method(vc, asreml)
S3method(vc, default)
S3method(vc, lme)
S3method(vc, lmerMod)

S3method(print, vc.asreml)
S3method(print, vc.lme)
S3method(print, vc.lmerMod)
